# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment and environment variables
venv/
.env
*.env

# FAISS index
faiss_index/
*.faiss

# System / editor / IDE
.DS_Store
*.swp
*.bak
*.tmp
*.log
.vscode/
.idea/

# Python testing
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints/